asgiref==3.7.2
attrs==23.1.0
cffi==1.15.1
cryptography==41.0.2
dj-database-url==2.0.0
Django
djangorestframework==3.14.0
djangorestframework-simplejwt==5.2.2
drf-yasg==1.21.6
gunicorn==21.2.0
inflection==0.5.1
jsonschema
jsonschema-specifications==2023.6.1
packaging==23.1
psycopg2-binary==2.9.7
pycparser==2.21
PyJWT==2.8.0
python-dotenv==1.0.0
pytz==2023.3
PyYAML==6.0
referencing==0.29.1
rpds-py==0.8.10
sqlparse==0.4.4
swagger-spec-validator==3.0.3
typing_extensions==4.7.1
tzdata==2023.3
uritemplate==4.1.1
